body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace, Arial;
}

input{
    height: 1.5rem;
}

label{
    font-weight: 600;
}

#calc{
    color: white;
    background-color: #007bff;
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 2px;
}

div{
    margin: 0.5rem;
}

button{
    margin-bottom: 1rem;
    cursor: pointer;
}
